<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\DependencyExample\Model\InjectableInterface" type="Training\DependencyExample\Model\Injectable" />
    <preference for="Training\DependencyExample\Model\NonInjectableInterface" type="Training\DependencyExample\Model\NonInjectable" />
    <type name="Training\DependencyExample\Model\Main">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="id" xsi:type="string">class Main</item>
            </argument>
        </arguments>
    </type>
    </config>
