<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="virtualClassExample" xsi:type="object">Custom\VirtualTypeExample\Console\FirstCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Custom\VirtualTypeExample\Console\FirstCommand">
        <arguments>
            <argument name="a" xsi:type="string">20</argument>
        </arguments>
    </type> 
</config>
